*,
*::after,
*::before {
    margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth; 
}
  @media only screen and (max-width: 75em) {
   html {
  font-size: 59%; } }
   @media only screen and (max-width: 56.25em) {
  html {
  font-size: 56%; } }
   @media only screen and (min-width: 112.5em) {
  html {
  font-size: 65%; } }

  li {
    list-style: none; 
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5px;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif; 
}

.About_container,
.Project_container,
.Contact_container,
.Footer_container{
    max-width: 120rem;
    margin: auto;
    width: 92%; 
}

.heading_section_title {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: left;
    color: black;
    margin-bottom: 3.5rem;
    position:relative;
    flex-wrap: wrap;
}  

.heading_section_intro {
    display: block;
    text-align: left;
    color: grey;
    font-size: 2rem;
    font-weight: 500;
    max-width: 80rem;
    line-height: 1.6; 
}

.heading_section_title_C {
    color: #fff; 
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: black;
    box-shadow: 0 10px 100px ; 
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem; 
}
      
@media only screen and (max-width: 56.25em) {
    .header_content {
    padding: 0 2rem; } 
}

.header_avatar_and_name {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: white; 
}

.header_avatar_and_name:hover {
    color: blue; 
}

.header_avatar {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 1.5rem;
    background: black; 
}

@media only screen and (max-width: 56.25em) {
    .header_avatar {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem; } 
}

  .header_avatar_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block; 
}

.name {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; 
}

.header_links {
    display: flex; 
}
    
@media only screen and (max-width: 37.5em) {
    .header_links {
    display: none; } 
}

.header_link {
    padding: 2.2rem 3rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
    
.header_link:hover {
    color: blue; 
}
    
@media only screen and (max-width: 56.25em) {
    .header_link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem; } 
}

.Home {
    color: white;
    background: url(../images/backgroung.jpg);
    background-position: center;
    height: 50vh;
    min-height: 20rem;
    max-height: 50rem;
    position:relative; 
}

 @media only screen and (max-width: 37.5em) {
     .Home {
     height: unset;
    min-height: unset; } 
}

.Home_heading {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right; 
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 37.5em) {
    .Home_heading {
      font-size: 4.5rem; } 
}

.Home_socials{
    position: absolute;
    top: 50%;
    border: 2px solid black;
    border-left: 2px solid black;
    transform: translateY(-50%); 
}
    
@media only screen and (max-width: 56.25em) {
    .Home_socials{
    display: none; } 
}

.Home_social {
    width: 5rem; 
}

.Home_social_icon_link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid black;
}

.Home_social_icon_link:hover {
    background: whitesmoke; 
}

.Home_social_icon {
    width: 100%; 
}

.Home_content {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%; 
    flex-wrap: wrap;
}
    
@media only screen and (max-width: 37.5em) {
    .Home_content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0); } 
}

.About {
    background: #fafafa; 
}

.about_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem; 
}

@media only screen and (max-width: 56.25em) {
    .about_content {
    grid-template-columns: 1fr;
    grid-gap: 8rem; } 
}

.about_content_title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem; 
}

.about_content_details_paragraph {
    font-size: 1.8rem;
    color: grey;
    max-width: 60rem;
    line-height: 1.7;
    margin-bottom: 1rem; 
}

.skills {
    display: flex;
    flex-wrap: wrap; 
}
    
.skills_skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: lightgray;
    border-radius: 5px;
    font-weight: 600;
    color: grey; 
}

.projects_info {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 11rem; 
}

@media only screen and (max-width: 56.25em) {
    .projects_info {
      grid-template-columns: 1fr;
      grid-gap: 2rem;
      margin-bottom: 8rem; } 
}

@media only screen and (max-width: 56.25em) {
    .projects_info {
      text-align: center; } 
}

.projects_info:last-child {
  margin-bottom: 0; 
}

.projects_info_img_cont {
  overflow: hidden; 
}

.projects_info_img {
  width: 100%;
  display: block;
  object-fit: cover; 
}

.projects_info_img:hover {
    transform: scale(1.5);
}

.projects_info_content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start; 
}
  
@media only screen and (max-width: 56.25em) {
  .projects_info_content {
  align-items: center; } 
}

.projects_info_content_title {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 2rem; 
}

@media only screen and (max-width: 37.5em) {
  .projects_info_content_title {
  font-size: 2.4rem; } 
}

.projects_info_content_desc {
  font-size: 1.8rem;
  color: grey;
  max-width: 60rem;
  line-height: 1.7;
  margin-bottom: 3rem; 
}
  
@media only screen and (max-width: 37.5em) {
  .projects_info_content_desc {
  font-size: 1.7rem; } 
}

.Button {
    background: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    font-weight: 700;
    text-decoration: underline;
}

.Contact {
    background: url(../images/backgroung.jpg);
    background-size: cover;
    background-position: center; 
}

.Contact_container {
    max-width: 120rem;
    margin: 5rem 0 0 0;
    width: 92%; 
}

.contact_form_container {
   background: white;
    padding: 4rem;
    margin-top: 6rem;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    border-radius: 5px;
    margin: 5rem 0 0 2rem ; 
}

.contact_form_field {
    margin-bottom: 4rem; 
}

.contact_form_label {
    color: black;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    display: block;
    text-align: left; 
}
  
.contact_form_input {
    color: grey;
    padding: 2rem;
    width: 100%;
    border: 1px solid white;
    font-size: 1.6rem;
    letter-spacing: 0px;
    background:lightgrey;
    border-radius: 5px;
    font-weight: 600;
}
  
.contact_form_input::placeholder {
    color: grey;
    font-weight: 600;
    font-size: 1.6rem; 
}

.contact_Button {
    width: 30%;
    padding: 2rem 4rem;
    font-size: 1.6rem; 
    background-color: black;
    color: white;
}

.Footer {
    background-color: black;
    color: white; 
}

.footer_social_heading,
.main_footer_title {
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px; 
}

.Footer_container_up {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0; 
}

@media only screen and (max-width: 56.25em) {
    .Footer_container_up {
      padding: 6rem 0; } 
}

@media only screen and (max-width: 37.5em) {
    .Footer_container_up {
    display: block; } 
}

.Footer_social {
    order: 2; 
}
    
@media only screen and (max-width: 56.25em) {
    .Footer_social {
    margin-bottom: 5rem; } 
}
.main_footer{
    width: 40%;
    order: 1;
    max-width: 50rem; 
}
    
@media only screen and (max-width: 56.25em) {
    .main_footer {
    width: 100%; } 
}

.Footer_social_links {
    margin-top: 2rem; 
}

.footer_icon_links {
    margin-right: 1rem;
    width: 2.5rem; 
}

.main_footer_lower {
    padding: 4rem 0;
    border-top: 1px solid grey;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    text-align: center; 
}

.main_footer_lower {
    font-weight: bold;
    margin-left: 2px; 
}

@media only screen and (max-width: 56.25em) {
    .main_footer_lower {
    padding: 3.5rem 0; } 
}