*,
*::after,
*::before{
    margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth; 
}
  @media only screen and (max-width: 75em) {
   html {
  font-size: 59%; } }
   @media only screen and (max-width: 56.25em) {
  html {
  font-size: 56%; } }
   @media only screen and (min-width: 112.5em) {
  html {
  font-size: 65%; } }

  li {
    list-style: none; 
}

body {
    box-sizing: border-box;
    position: relative;
    line-height: 1.5px;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif; 
}

.Home {
    color: white;
    background: url(../images/backgroung.jpg);
    background-position: center;
    height: 50vh;
    min-height: 20rem;
    max-height: 50rem;
    position:relative; 
}

 @media only screen and (max-width: 37.5em) {
     .Home {
     height: unset;
    min-height: unset; } 
}

.Home_heading {
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: right; 
}

@media only screen and (max-width: 37.5em) {
    .Home_heading {
      font-size: 4.5rem; } 
}

.Home_socials{
    position: absolute;
    top: 50%;
    border: 2px solid black;
    border-left: 2px solid black;
    transform: translateY(-50%); 
}
    
@media only screen and (max-width: 56.25em) {
    .Home_socials{
    display: none; } 
}

.Home_social {
    width: 5rem; 
}

.Home_social_icon_link {
    width: 100%;
    display: block;
    padding: 1.2rem;
    border-bottom: 2px solid black;
}

.Home_social_icon_link:hover {
    background: whitesmoke; 
}

.Home_social_icon {
    width: 100%; 
}

.Home_content {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%; 
    flex-wrap: wrap;
}
    
@media only screen and (max-width: 37.5em) {
    .Home_content {
    padding: 19rem 0 13rem 0;
    margin: auto;
    position: static;
    transform: translate(0, 0); } 
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: white;
    box-shadow: 0 10px 100px ; 
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem; 
}
      
@media only screen and (max-width: 56.25em) {
    .header_content {
    padding: 0 2rem; } 
}

.header_avatar_and_name {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: black; 
}

.header_avatar_and_name:hover {
    color: blue; 
}

.header_avatar {
    width: 5rem;
    height: 5rem;
    overflow: hidden;
    margin-right: 1.5rem;
    background: black; 
}

@media only screen and (max-width: 56.25em) {
    .header_avatar {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 1.2rem; } 
}

  .header_avatar_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block; 
}

.name {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px; 
}

.header_links {
    display: flex; 
}
    
@media only screen and (max-width: 37.5em) {
    .header_links {
    display: none; } 
}

.header_link {
    padding: 2.2rem 3rem;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
    
.header_link:hover {
    color: blue; 
}
    
@media only screen and (max-width: 56.25em) {
    .header_link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem; } 
}

.Footer {
    background-color: black;
    color: white; 
}

.Footer_container_up {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0; 
}

@media only screen and (max-width: 56.25em) {
    .Footer_container_up {
      padding: 6rem 0; } 
}

@media only screen and (max-width: 37.5em) {
    .Footer_container_up {
    display: block; } 
}

.Footer_social {
    order: 2; 
}
    
@media only screen and (max-width: 56.25em) {
    .Footer_social {
    margin-bottom: 5rem; } 
}
.main_footer{
    width: 40%;
    order: 1;
    max-width: 50rem; 
}
    
@media only screen and (max-width: 56.25em) {
    .main_footer {
    width: 100%; } 
}

.Footer_social_links {
    margin-top: 2rem; 
}

.footer_icon_links {
    margin-right: 1rem;
    width: 2.5rem; 
}

.main_footer_lower {
    padding: 4rem 0;
    border-top: 1px solid grey;
    color: white;
    font-size: 1.2rem;
    text-align: left;
    text-align: center; 
}

.main_footer_lower {
    font-weight: bold;
    margin-left: 2px; 
}

@media only screen and (max-width: 56.25em) {
    .main_footer_lower {
    padding: 3.5rem 0; } 
}